# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/

# Maven
target/

# IDEs
.idea/
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Minecraft server runtime
run/
server/
logs/
crash-reports/
world*/
plugins/
